
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #590bbd;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    padding: 10px 20px;
  }
  
  
  .button:hover {
    background-color: #8837c2;
  }
  .button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  
  
  .small {
    padding: 6px 12px;
    font-size: 14px;
  }
  .medium {
    padding: 10px 20px;
    font-size: 16px;
  }
  .large {
    padding: 14px 28px;
    font-size: 18px;
  }
  
  
  .fullWidth {
    width: 100%;
  }
  