.homePage_container{
    display: flex;
    justify-content: center;
}

.homePage_container .wrapper{
    width: 90%;
    max-width: 1200px;
    padding: 1rem 0;
    text-align: center;
}

.homePage_container .wrapper h1{
    text-transform: uppercase;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: 1.5px;
    padding: 2em 0;
    margin: 0;
}

.homePage_container .wrapper p{
    width: 70%;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.87);
    font-family: var(--primary-font);
    font-size: 1.125rem;
    letter-spacing: .5px;
    line-height: 1.5;
    padding-bottom: 2.5rem;
}

.homePage_container .wrapper button{
    margin: 0 auto;
}