.homePage_container {
  /* background-color: #7c65fb; */
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.homePage_container .grid_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: repeating-linear-gradient(
      0deg,
      /* rgba(255, 255, 255, 0.1) 0px, */
      /* rgba(255, 255, 255, 0.1) 3px, */
      #7b65fb1f 0px,
      #7b65fb1f 3px,
      transparent 3px,
      transparent 50vh
    ),
    repeating-linear-gradient(
      90deg,
      /* rgba(255, 255, 255, 0.1) 0px, */
      /* rgba(255, 255, 255, 0.1) 3px, */
      #7b65fb1f 0px,
      #7b65fb1f 3px,
      transparent 3px,
      transparent 50vw
    );
  background-size: 100vw 100vh;
  animation: generateGrid 8s linear infinite alternate;
}

.homePage_container .wrapper {
  width: 90%;
  max-width: 1200px;
  padding: 1rem 0;
  text-align: center;
}

.homePage_container .wrapper h1 {
  text-transform: uppercase;
  /* color: var(--primary-color); */
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
  padding: 1.5em 0;
  margin: 0;
}

.homePage_container .wrapper p {
  width: 70%;
  margin: 0 auto;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #504c4cf8;
  font-family: var(--primary-font);
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
  padding-bottom: 4em;
}

.homePage_container .wrapper button {
  background-color: var(--alternate-color);
  color: var(--primary-color);
  margin: 0 auto;
  padding: 25px;
  cursor: pointer;
}

.homePage_container .wrapper button:hover {
  background-color: var(--alternate-color);
  color: var(--primary-color);
}

@keyframes generateGrid {
  0% {
    background-position: 0px 0px, 0px 0px;
  }
  100% {
    background-position: 200px 200px, 200px 200px;
  }
}
